// base resource
$background-color: #fff;
$mid-grey-color: #636b6f;
$gray-color: #636b6f;
$font: 'Nunito', sans-serif;

// base config
%base {
    background-color: $background-color;
    color: $mid-grey-color;
    font-family: $font;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

html {
    @extend %base;
}

body {
    @extend %base;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: $gray-color;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
